* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
}

.box {
    width: fit-content;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    /* background-color: rgba(255, 255, 255, 0.33); */
    background-color: rgb(244, 9, 244);
    border-radius: 30px;
    /* box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.33); */
    box-shadow: 0px 0px 40px rgb(244, 9, 244);
    margin: 15% auto;
}

.box h1 {
    padding: 10px 25px;
    text-align: center;
    font-size: 25px;
    color: black;
    font-family: sans-serif;
}

input {
    padding: 15px;
    text-align: center;
    user-select: none;
    height: 40px;
    border-radius: 10px;            
    box-shadow: 0px 0px 20px rgba(3, 3, 3, 0.4);
    border: 1px solid #000000;
    font-size: 22px;
    transition: all 400ms ease 0s;
}

.btn {
    width: max-content;
    height: fit-content;
    padding: 5px 10px;
    margin: 0px auto;
    font-size: 22px;
    background-color: rgb(250, 132, 35);
    font-family: sans-serif;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 15px rgba(3, 3, 3, 0.7);
    margin: 10px;
    cursor: pointer;
    transition: all 400ms ease 0s;
}

.btn:hover {
    background-color: rgb(202, 107, 30);
    box-shadow: 0px 0px 20px rgba(3, 3, 3, 1);
    transform: scale(1.04);
}

.name {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: rgb(244, 114, 9);
    transition: all 400ms ease 0s;
}

a:hover {
    text-shadow: 0px 0px 20px rgb(244, 114, 9);
}